body {
  margin: 0;
  padding: 0;
  cursor: crosshair;
  font-family: "Baloo Da 2", cursive;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
}
/* Disable text selection */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
canvas {
  position: absolute;
  z-index: -1;
}
.inputs {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1f 1f;
  grid-template-areas: "create join";
}

.create-pack {
  grid-area: create;
  justify-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, 40%);
  grid-template-areas: ". create-board .";
  justify-content: center;
  align-items: center;
}
.create-board {
  grid-area: create-board;
  height: 6vh;
}

.join-pack {
  grid-area: join;
  justify-self: stretch;
  display: grid;
  grid-template-columns: repeat(3, 40%);
  grid-template-rows: 27.5% 10% 10% 5% 47.5%;
  grid-template-areas:
    ". . ."
    ". invalid-id ."
    ". board-id ."
    ". . ."
    ". enter-board .";
  justify-content: center;
}
.invalid-id {
  grid-area: invalid-id;
  color: #b33a3a;
  display: grid;
  justify-items: center;
  align-items: center;
}
.txt-inp {
  grid-area: board-id;
  align-self: end;
  height: 6vh;
  min-width: calc(100% - 2px);
  /* 2px is border */
  padding: 0% !important;
  justify-self: stretch;
  text-align: center;
  border: 1px solid #ccc;
  color: #ccc;
  background: transparent;
}
.txt-inp:focus {
  transition: 0.5s;

  color: black;
  outline: none;
}
.txt-inp ~ .focus-bg {
  grid-area: board-id;
  height: calc(6vh + 2px);
  /* border + 2px */
  align-self: end;
  justify-self: stretch;
  background-color: #ededed;
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}
.txt-inp:focus ~ .focus-bg {
  transition: 0.5s;
  opacity: 1;
}
.enter-board {
  grid-area: enter-board;
  height: 6vh;
}
.enter-board,
.create-board {
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  display: grid;
  justify-items: center;
  align-items: center;
}
.enter-board:hover,
.create-board:hover {
  transition: 0.5s;
  color: gray;
  background-color: #ffffff;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
